.card-office {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bgTable);
}

.card-office-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-office-title {
    font-weight: bold;
    margin: 1rem;
}

.card-office-value,.value {
    color: #03e203;
    font-family: 'Anton';
}

/* Contenedor principal de pagos */
#pagos-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* ----------------- tables ---------------- */

.tablas-dinamicas {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;
    margin: 10px auto;
    border-radius: 1rem;
    border-left: 8px solid var(--secondary-color);
    box-shadow: 9px 10px 10px -7px black;
    background-color: var(--bgTable);
    max-height: min(100%,500px);
}

table {
    border-collapse: collapse;
    border: none !important;
}

thead{
    position: sticky;
    top: 0px;
    outline: .2rem solid #000000;
    z-index: 1;
}

td,tr,th {
    border: none;
    border-right: 2px solid var(--secondary-color);
    border-collapse: collapse;
    text-align: center;
    padding: 2px 5px;
}
td:has(.process){ padding:0 1rem; }

tr { background-color: var(--white-black) }

tr:nth-child(2n+1){ background-color: var(--background-color);}

tr:hover { background-color: var(--primary-color); }


th {
    color: var(--secondary-color);
    background-color: var(--white-black);
    text-align: center;
    text-wrap: nowrap;
    border-bottom: 5px solid var(--secondary-color);
}

th:last-child,td:last-child { border-left: none !important; }

/* Tablas */
.tabs {
    overflow: hidden;
    width: 100dvw;
}

.tabs-list {
    display: flex;
    border-bottom: 3px solid var(--secondary-color);
    margin-top: 5px;
}

.tabs-list button {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 1em 1em 0 0;
    color: var(--black-white);
    transition: .3s ease all;
    margin-left: 1rem;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-bottom: none;
    filter: brightness(0.7) blur(.6px);
    position: relative;
}

.tabs-list button.active {
    font-weight: bold;
    scale: 1.15;
    filter: none;
}

.tabs-list button:hover {
    background-color: var(--primary-color);
    scale: 1.15;
    filter: none;
}

.tabs-list button.active::after {
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    background-color: var(--primary-color);
    inset: 30px 0;
}

.tabs-content {
    display: flex;
    background-color: var(--primary-color);
    width: 200%;
    transition: all 1s ease;
}

.tabs-content-child {
    width: 100dvw;
    padding: 1rem;
}
.table-navigation {
    font-weight: 300;
    padding: 0.5rem;
    font-family: 'Anton', sans-serif;
    background-color: var(--card-background);
    color: var(--secondary-color);
    border-width: 0px;
    border-radius: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.table-navigation:hover {
    background-color: rgba(255, 255, 255, 0.56);
    color: rgb(0, 0, 0);
}

.table-adaptative {width: min(100%, 800px); }

.toLeft {translate: -50%;max-height: 700px;}


/* Efecto Hover de la imagen de seleccion de servicio */
.select-section{
    position: relative;
    min-height: 50dvw;
    display: flex;
    overflow: hidden;
}

.nbox-img{width: 100dvw;}

.nbox-service1,.nbox-service2,.nbox-service3,.nbox-floor {
    height: 100%;
    position: absolute;
    background-image: url(../img/back-s.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    transition: filter .5s ease;
}

.nbox-service1{
    /* background-color: blue; */
    left: 0;
    width: 30%;
    animation-delay: 3s;
    animation: blur-section1 10s infinite;
    clip-path: polygon(0% 0%, 100% 0%, 100.38% 71.07%, 0% 117.84%);
}

.nbox-service2{
    translate: 87%;
    /* background-color: red; */
    width: 34%;
    margin: auto;
    background-position: 45%;
    animation: blur-section2 10s infinite;
}

.nbox-service3{
    /* background-color: green; */
    right:0;
    width: 37%;
    background-position: 100%;
    animation: blur-section3 10s infinite;
    /*! clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 32% 100%, 0% 70%); */
}
.nbox-floor{
    width: 100dvw;
    height: 30%;
    position: absolute;
    bottom: 0;
    clip-path: polygon(30% 0%, 63% 0%, 75% 100%, 12% 100%);
    background-position: 0% 100%;
    animation: blur-section2 10s infinite;
}
@keyframes blur-section1{
    10%, 30% {filter:none;} 
    40%, 90% {filter:blur(10px);} 
}

@keyframes blur-section2{
    0%, 30% {filter:blur(10px);}
    40%, 60% {filter:none;} 
    70%,100% {filter:blur(10px);}
}

@keyframes blur-section3{
    0% ,60%,100% {filter:blur(10px);}
    70%, 90% {filter:none;} 
}


.select-section:has(.nbox-service1:hover){
    .nbox-service2,.nbox-service3,.nbox-floor {filter:blur(10px) grayscale(.4);}
    .nbox-service1,.nbox-service2,.nbox-service3,.nbox-floor {animation:none!important;}
}
.select-section:has(.nbox-service2:hover){
    .nbox-service1,.nbox-service3 {filter:blur(10px) grayscale(.4);}
    .nbox-service1,.nbox-service2,.nbox-service3,.nbox-floor {animation:none!important;}
}
.select-section:has(.nbox-service3:hover){
    .nbox-service1,.nbox-service2,.nbox-floor {filter:blur(10px) grayscale(.4);}
    .nbox-service1,.nbox-service2,.nbox-service3,.nbox-floor {animation:none!important;}
}