:root {
  --dark-bg: #0b0f19;
  --panel-dark-bg: #232e47;
  --gray-ligth:#d6d6d6;
  --gray-dark: #eaeaea9e;
}

body.dark-mode {
  --dark-bg: #232e47;
  --panel-dark-bg: #0b0f19;
  --gray-ligth: #eaeaea9e;
  --gray-dark: #0b0f19;
}

/* Títulos con subrayado */
.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.section-title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #FFD000;
  display: block;
  margin: 0.5rem auto 0;
  animation: sidetoside 1s infinite both alternate;
}
@keyframes sidetoside{
100%{width:0px}
}

/* Grid común para ambas secciones */
.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

/* Base de paneles */
.panel-base {
  border-radius: 0.75rem;
  padding: 1.5rem;
  text-align: left;
}

/* Sección "¿Por qué elegirnos?" */
.why-us {
  background: var(--dark-bg);
  color: white;
  padding: 3rem 1rem 2rem;
  min-height: 80dvh;
}
.why-us .whyus-panel {
  background: var(--panel-dark-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:background-color .2s ease;
}
.why-us .whyus-panel:hover {
  background-color:#1f2937;
}
.why-us .icon {
  font-size: 2.2rem;
  color: #FFD000;
  margin-bottom: 0.75rem;
}

/* Ajustes móviles */
@media (max-width: 600px) {
  .panel-base {padding: 1rem;}
  .section-grid  {grid-template-columns: none; }
}


/* ------------------------Factura----------------- */

.section-factura {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.section-left {
   color:black; 
}
.section-factura > div {
  flex: 1 1 300px;      
  padding: 2rem;
}
/* IZQUIERDA */
.section-left {
  background: var(--gray-ligth);
}
.section-left h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
}
.contact-item i {
  font-size: 1.5rem;
  color: #FFD000;
  margin-right: 0.75rem;
  width: 1.5rem;
}
.social-links {
  margin-top: 2rem;
}
.social-links a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.1rem;
}
.social-links a i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #FFD000;
}

/* DERECHA */
.section-right {
  background: var(--gray-dark);
}
.section-right h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.invoice p {
  margin: 0.5rem 0;
}
.invoice p strong {
  width: 100px;
  display: inline-block;
}
.section-left input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.result-box {
  background: #e6f9e8;
  border-left: 6px solid #34a853;
  padding: 1rem;
  border-radius: 10px 7px 7px 10px;
  font-weight: bold;
}