dialog *,div.flexbox.modal{
    margin: 0;
    padding: 0;
    z-index: 10;
} 

.bg-img{ max-width: 80vw; }

.background-img{
    position: absolute;
    opacity: .15;
    margin: auto;
    top: 0;
    right: -5px;
    left: 0;
    bottom: 0;
    width: 70%;
    z-index: 0;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column { flex-direction: column; }

.flexbox-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
}


/* ====================== ELEMENTS ========================== */
.page-button {
    border-radius: 1rem;
    padding: 8px;
    border: .1rem solid lightgrey;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    margin: auto;
}

.page-button:hover {
    transition: .2s all ease;
    box-shadow: 0px 2px 4px 2px #0000002e;
    border: .1rem solid transparent;
    scale: 1.1;
}

.process {
    background-color: #34495e;
    color: #dddddd;
    min-width: 100px;
    display: block;
    width: max-content;
    margin: auto;
}

.action-edit { background-color: goldenrod; }

.action-delete { background-color: red; }

/* ------------------------------slider logic------------------------------ */
.slider-container {
    position: relative;
    width: 100%;
    margin: 2rem auto;
    display: inline-grid;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent,#000 10% 90%,transparent);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun var(--duration) linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((var(--duration) / var(
    --quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img { width: 100%; }

@keyframes autoRun {
    from { left: 100%; }
    to { left: calc(var(--width) * -1); }
}

.slider[autostop="true"]:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider[autostop="true"] .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
    from { left: calc(var(--width) * -1); }
    to { left: 100%; }
}

.pay{
    margin: 0;
    position: fixed;
    bottom: -20px;
    left: 0;
    padding: 5px 0 0 0;
    background-color: #0000005f;
}

@keyframes slider {
    0% { transform: translateX(calc(0%)); }
    50% { transform: translateX(calc(-100%)); }
    100% { transform: translateX(0px); }
}

/* -----------------------slider-static------------------------ */
.slider-static{
    width: 100dvw;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    overflow:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 auto 2rem auto;
    border-radius: 1rem;
    gap: 30px;
}

.slider-static img{
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}

.nav-slider {
    translate: 50%;
    position: absolute;
    bottom: 2rem;
    width: 50%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    
    .nav-link {
        position: relative;
        display: block;
        background: aliceblue;
        height: min(50%, 30px);
        min-width: 10px;
        border-radius: 50%;
        margin: auto;
        aspect-ratio: 1 / 1;
        transition: transform 0.3s ease, background 0.3s ease;
        outline: 3px solid black;
    }
    
    .nav-link:hover { background: beige; transform: scale(1.5); }
    
    .nav-link.active { transform: scale(2); }
}
/* ---controls del slider--- */
.slider-controls {
    position: absolute;
    bottom: 0;
    transform: translateY(-200%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    width: 100%;
}

.slider-controls,.nav-slider{
   display:none; 
}

.slider-button {
    pointer-events: all;
    background: rgb(255 255 255 / 94%);
    border: 4px solid #000000;
    color: #030303;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: background 0.3s ease;
    margin: 0 1rem;
}

.slider-button:hover {
    background: rgb(137 132 132 / 80%);
}

/* ----------------------------Tuto home--------------------------------------- */
.landing-tuto{
    position:relative;
}
.landing-tuto::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/pay-method.png), linear-gradient(0deg, #ffffff87 65%, #000000f2 100%);
    background-attachment: fixed;
    background-size: 55%;
    background-color: gray;
    opacity: .15;
}

.bg-leve{
    position: absolute;
    width:100%;
    top: 115px;
    z-index: 1;
}

.steps-tuto-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    gap: 70px;
    backdrop-filter: brightness(0.7) contrast(0.7);
}

.step-tuto {
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   align-items: center;
   padding: 2rem 1rem;
   width: clamp(119px,90dvw,500px);
   margin: 0 auto;
   transition: transform .3s ease;
   z-index: 1;
   border-radius: 1rem;
   border-top: 1px solid #b4b7bb;
   box-shadow: 0px 7px 9px 1px #9393938f;
   background-color: whitesmoke;
}
.step-tuto:last-child { margin-bottom:5rem; }

.step-tuto:hover {
    transform: translateY(-15px);
}

.step-tuto p{
    text-align:center;
}

.step-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffcc00;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin: auto;
    translate: 2px 2px;
    border: 4px solid var(--secondary-color);
}

.tuto-title{
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    border: 6px solid #212121;
    filter: drop-shadow(2px 4px 2px black);
    position: sticky;
    top: 0;
    z-index: 3;
}

.step-tuto h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 700;
}

.step-tuto p {
    color: black;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Barra vertical */
.step-icon::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 80%;
    background-color: var(--secondary-color);
    translate: 0px 85px;
}

.step-icon:not(:nth-child(2))::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 85%;
    background-color: var(--secondary-color);
    translate: 0px -90px;
    z-index: -1;
}

/* ------------------------banner------------------------- */
.banner {
    height: 100vh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    pointer-events: none;
}

.logo-coin{
    height: clamp(100px,25%,500px);
    aspect-ratio: 1 / 1;
    animation: titilar 4s ease both 4s;
    animation-play-state: var(--trigger);
    border-radius: 50%;
    position: relative;
}

.svg-middle{
    z-index: 1;
    width: 90%;
    aspect-ratio: 1 / 1;
    fill: var(--secondary-color);
}

.banner.index{
    --urlback: url('../img/bg-banner.webp');
    --urlfront: url('../img/dollar.webp');
    --t-p:scale(15);
    --size:cover;
    --position:top;
    --duration:12s;
    --minWidth:auto;
    --transX:center;
    --trigger:paused;
}

.banner.office{
    --urlback: url('../img/urlback.webp');
    --urlfront: url('../img/urlfront.webp');
    --t-p: translate3d(-25%, 125%, 0) scale(2);
    --size:contain;
    --position:bottom;
    --duration:5s;
    --transX:-75px;
    --minWidth:870px;
    --trigger:play;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--urlback);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    transform: scale(1.5);
    animation: bgZoomIn 5s ease-in-out 1 forwards 1s;
    pointer-events: none;
    animation-play-state: var(--trigger);
 }

.banner::after {
    content: '';
    position: fixed;
    inset: 0;
    background-image: var(--urlfront);
    background-size: var(--size);
    background-position: var(--position);
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 6px black);
    animation: bgZoomOut var(--duration) ease-in-out 1 forwards 1s;
    animation-play-state: var(--trigger);
    z-index: 11;
    pointer-events: none;
    transition: all;
    min-width: var(--minWidth);
    background-position-x: var(--transX);
}

@keyframes bgZoomIn {
    from { filter: blur(3px); transform: scale(1.5); }
    to { transform: scale(1); filter: none; }
}

@keyframes bgZoomOut {
    from { transform: scale(1); filter: drop-shadow(2px 4px 6px black); }
    to { transform: var(--t-p); }
}

/* ----------------------animacion de escribir----------------------------------- */
.typewritter{
    font-size: 1.8rem;
    overflow: hidden;
    font-weight: bolder;
    width: max-content;
    height:5rem;
    display: flex;
    margin: auto;
    color: var(--white-black);
}

.typewritter::after{
     content: '';
     height:70%;
     /* margin:auto; */
     top: 8px;
     width: .21rem;
     background-color: var(--white-black);
     border-radius: 1rem;
     animation: titilar .4s infinite alternate;
     position: relative;
}

.typewritter h3 {
    margin: auto;
    animation: typewritter 10s infinite steps(16) ;
}

@keyframes typewritter {
    30%{translate: 0%;}
    60%{translate: 0%;}
    65%{translate: 105%;}    
}

/* -------------------------svg y triangulos------------------------ */

.borders-modiff {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-color);
    margin-top: 0;
    height: 95dvh;
}

.borders-modiff::after,.borders-modiff::before,.border-angle {
    content:'';
    width:8em;
    aspect-ratio:1/1;
    background-color:red;
    position:absolute;
    rotate:45deg;
}

.borders-modiff::after{
    top: 30px;
    right: 30px;
}
.borders-modiff::before{
    bottom: 30px;
}

.left {
    position: absolute;
    bottom: 30px;
    left: -63px;
}
.rigth {
    position: absolute;
    right: -63px;
    top: 30px;
}

.border-angle{
    background-color: var(--svg-color);
}
.borders-modiff img {
    width: clamp(350px, 100%, 750px);
    align-self: center;
}

.borders-modiff p {
    grid-column-start: -2;
    grid-row-start: 2;
    text-align: end;
    align-self: self-end;
    padding: 0 20px;
    font-family: 'Anton', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    z-index: 1;
    filter: drop-shadow(3px 2px 1px #44444479);
    strong{color: red;}
}

.mundi{
    aspect-ratio: 16 / 9;
    z-index: 1;
    width: clamp(350px, 95dvw, 1200px);
    translate: 0 9em;
    position: absolute;
    max-height: 70dvh;
    fill: var(--white-black);
    animation: country 9s alternate infinite both;
}

@keyframes country{
    0%{--one:red;--two: var(--svg-color);--three:var(--svg-color);--four: var(--svg-color);}
    33%{--one:var(--svg-color);--two: red;--three:var(--svg-color) ;--four: var(--svg-color);}
    66%{--one:var(--svg-color);--two: var(--svg-color);--three:red ;--four: var(--svg-color);}
    100%{--one:var(--svg-color);--two: var(--svg-color);--three:var(--svg-color) ;--four: red;}
    
}
/* --------------------------------cards ------------------------------------ */
.overload-margin{
    position:relative;
    margin: auto;
    height: 90dvh;
    display: block;
}

.full-flyer{
    width: 100dvw;
    position: relative;
    overflow: hidden;
    margin-top: 0 !important;
    /* z-index:10 */
}

.full-flyer:hover { .front-cap,.back-cap{animation: none;} }

.flyer {
    width: 90%;
    height: 90%;
    margin: auto;
    inset: 0;
}

div.flyer.card{
    position: absolute;
    width: 90%;
    background-image: url(../img/card.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-color: black;
}

.front-cap,.back-cap {
    transition: filter,scale .4s ease;
    animation: twoblur 5s ease both infinite;
}

.front-cap h3,.back-cap h3 {
    position: absolute;
    filter: drop-shadow(0px 2px 2px #ffffff96)!important;
    text-align: center;
}

.front-cap {
    margin: auto;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    animation-delay: 2s;
}

.back-cap{
    background-color: #2a4743ab;
    width: 100dvw;
    background-image: url(../img/full-flyer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    background-blend-mode: darken;
    height: 90vh;
}

.full-flyer:has(.back-cap:hover) { .front-cap {filter: blur(var(--blur, 10px));} }

.back-cap:not(:hover){ filter:blur(10px); }

.back-cap:hover{ scale:1.1; }

@keyframes twoblur{
    0%{filter: blur(var(--blur,20px));}
    50%{filter: blur(0px);}
    100%{filter: blur(var(--blur,20px));}
}

/* ----------------------Cards-------------------- */
.card {
    background-color: var(--card-background);
    border-radius: 1em;
    padding: .5rem;
    box-shadow: #00000026 0px -2px 9px 4px;
    position: relative;
    width: min(600px,80dvw);
    min-width: 250px;
    margin: auto;
}

.card:not(.rotate-2d) h3 {
    position: absolute;
    inset: 0;
    margin: 0 auto;
    background-color: var(--secondary-color);
    height: 3.5rem;
    align-content: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: var(--primary-color);
}

.card-sub-items{ margin:4rem auto 2rem auto; }

.card-item {
    display: flex;
    gap: 5px;
    font-size: 14px;
    line-height: 1.6;
    color: var(--black-white);
}

.card-item strong { color: var(--black-white); }

.card-item:last-child {
    border: 4px dashed black;
    padding: 10px;
    position: relative;
}

.card-item:last-child::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/alert.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}

.card:hover { outline: 3px solid var(--selected); }

/* Cards 3D */
.card-3d {
    display: flex;
    background-color: black;
    border-radius: 10px;
    transition: transform .2s ease-out, box-shadow 0.2s ease-out;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.2);
    animation: rotate3d 6s ease-in-out 0s infinite normal none running ;
}

.card-3d.active {
    transform: perspective(1000px) rotateX(var(--rotateX, 0)) rotateY(var(--rotateY, 0)) scale3d(1.05, 1.05, 1.05);
    box-shadow: var(--shadowOffsetX, 0) var(--shadowOffsetY, 0) 15px rgba(68, 68, 68, 0.6);
    animation: none;
}

.card-3d.border {
    border-left: var(--borderLeft, 0) solid black;
    border-right: var(--borderRight, 0) solid black;
    border-top: var(--borderTop, 0) solid black;
    border-bottom: var(--borderBottom, 0) solid black;
}

.card-3d > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.credit-card {
    color: aliceblue;
    border: none !important;
    margin: 2rem auto;
    max-width: 500px;
    aspect-ratio: 16/9;
}

.credit-card::before, .chip {
    position: absolute;
    content: "";
    height: 22.8%;
    width: 15.8%;
    display: block;
    top: 37.5%;
    left: 8.4%;
    border-radius: 0.2em;
}

.chip {filter: blur(3px);}

.phone {
    height: clamp(250px,95%,570px);
    padding: 2px;
    border: 0px solid black;
    aspect-ratio: 9 / 19;
    rotate: -10deg;
    position: absolute;
    inset: -90% 10%;
}

.modelo {
    position: absolute;
    right: 0px;
    bottom: 5%;
    z-index: 2;
    width: clamp(250px,30%,400px);
    filter: drop-shadow(-5px 15px 7px #000008c9);
    clip-path: polygon(100% 0%, 100% 100%, -10% 100%, -10% 0.57%);
}

.reflection {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
    background: radial-gradient(circle at var(--lightX, 50%) var(--lightY, 50%), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8));
    mix-blend-mode: soft-light;
}

 /*------------- Cards q rotan y giran ----------- */
.rotate-card-box {
    position: absolute;
    transition: all 1s ease;
}

.rotate-card-box.active {
    z-index: 2;
    position:relative;
    animation: none;
    .frontface {--rotationInitial:180deg;}
    .backface {--rotationInitial:0deg;}
}

.rotate-2d {
    transform: rotateY(var(--rotationInitial));
    backface-visibility: hidden;
    transition: transform 1s ease;
    position: absolute;
    outline: 3px solid black;
    margin: inherit;
}

.rotate-2d.frontface {
    --rotationInitial: 0deg;
    --rotationEnd:180deg;
    background-color: var(--back);
    height: clamp(240px,30dvh,800px);
    width: clamp(200px,40dvw,250px);
}

.rotate-2d.frontface:hover,
.card.upscale:hover {
    cursor:pointer;
    animation: upscale .5s both alternate ease-in-out infinite;
    z-index:2;
    outline:3px solid black;
}

@keyframes upscale{ from{scale:1} to{scale:1.1} }

.rotate-2d.backface {
    --rotationInitial:180deg;
    --rotationEnd:0deg;
    background-color:var(--back,black);
    color: white !important;
    width:min(500px,90dvw);
    height:max-content;
}

.card1,.card2,.card3,.card4{ box-shadow: #0000008a -7px 1px 9px 4px; }

.card1{
    --back:var(--tarifas);
    rotate: -6deg;
    inset: 0;
}
.card2{
    --back:var(--seguridad);
    rotate: -11deg;
    inset: 1em 2.5em;
}
.card3{
    --back:var(--rapidez);
    rotate: 0deg;
    inset: 2em 5em;
}
.card4{
    --back:var(--economia);
    rotate: 10deg;
    inset: 3em 7.5em;
}

.preset{
    height:200px !important;
    width:200px !important;
}

.auto-rotate {
    animation: rotateY 8s ease 1s infinite !important;
    cursor: inherit !important;
}

@keyframes rotateY {
    0%{transform:rotateY(var(--rotationInitial));}
    50%{transform:rotateY(var(--rotationEnd));}   
   100%{transform:rotateY(var(--rotationInitial));} 
}

@keyframes rotate3d {
    33% { transform: perspective(1000px) scale3d(1, 1, 1) rotateY(30deg);
          box-shadow: rgba(68, 68, 68, 0.6) 7px 0px 10px;
          border-width: 0px 0px 0px 6px;  
    }
    66% { transform: perspective(1000px) scale3d(1, 1, 1) rotateY(-30deg);
          box-shadow: rgba(68, 68, 68, 0.6) -7px 0px 10px;
          border-width: 0px 6px 0px 0px;   
    }
}

/* ------elementos que rotan----- */
.rotate-side{
    transition:all .2s !important;
    animation: rotateSide 2s infinite;
}
@keyframes rotateSide {
    0%{rotate:0deg;}
    33%{rotate:35deg;}
    66%{rotate:-35deg;}
    100%{rotate:0deg;}
}

.svg-back-rotate{
    position: absolute;
    border-radius: 50%;
    height: 100%;
    background: linear-gradient(60deg,var(--primary-color)49%,var(--form-background-color));
    aspect-ratio: 1 / 1;
    border: .5em solid var(--secondary-color);
    outline: 1em solid var(--primary-color);
    box-shadow: inset 6px -4px 30px 0px #000000c9;
    animation: backrot 5s ease infinite;
    transition: all .5s;
    filter: drop-shadow(0px 0px 5px var(--black-white));
}

@keyframes backrot {
    0%{rotate:0deg}
    100%{rotate:360deg}
}