.service-section {
  padding: 1.5rem;
  color: #000;
}
.service-section h2.new::after {
  content:'Website soon !';
  position:absolute;
  font-size:1rem;
  color: var(--alert-color);
  margin:10px;
  top:0;
}
.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: nowrap;
  flex-direction: row;
}
.service-container.reverse{ flex-direction: row-reverse; }
/* Bloque de texto con columnas */
.service-text {
  display: grid;
  text-align: justify;
  gap: 1.5rem;
  grid-template-columns: 2fr 2fr;
  color: var(--black-white);
}
.service-image { min-width: 45%; }

.service-image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  animation: fadeInSection ease both;
}  
/* Animación de entrada para la sección */
.animated-section{
  animation: fadeInSection ease both;
  view-timeline-name: var(--timeline);
  view-timeline-axis:block;
  animation-timeline: var(--timeline);
  animation-range: entry 25% cover 30%;
  --timeline: --time;
} 
@keyframes fadeInSection {
  from{
    scale:.3;
    opacity: 0;
  }
  to {
    scale:1;
    opacity: 1;
  }
}
/* Adaptaciones responsivas */
@media (max-width: 768px) {
  .service-container,.service-container.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .service-text, .service-image {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }
}